$color-text: #212121;
$color-click: #2196f3;
$color-white: #ffffff;
$color-hefu: #2f303a;
$color-bg: #f5f4fa;
$color-footer: rgba(255, 255, 255, 0.6);
$color-border: #eeeeee;
$color-icon: #afb1b8;
$color-secondary: #757575;
$color-whitef: #f5f4fa;
$color-rgb1: rgba(47, 48, 58, 0.8);
$color-backdrop: rgba(0, 0, 0, 0.2);
$color-portrgb: rgba(33, 150, 243, 0.9);

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: $color-white;
  color: $color-text;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  margin: 0;
  padding-top: 80px;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

textarea {
  resize: none;
}

footer {
  background: $color-hefu;
  padding-top: 60px;
  padding-bottom: 60px;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}
